@media only screen and (max-device-width: 961px){


    #fieldwrapper{
        width: 60vw;
        display: flex;
    }

    .cardfield {
        width: 100%;
        height: auto;
        
        .card {
            width: 230px;
            height: auto;
        
        }
    }




}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 95vw;
}

.bigButton{
    height: 80px;
    width: 80px;
}


.wrapper {

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 90vh;
    padding-top: 10px;
}

#fieldwrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardfield {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3px;

    height: 25vh;

    :hover {
        cursor: pointer;
    }
}

.card {
    height: 100%;
}

#highlightCard{
    
    position: absolute;
    z-index: 5;

    top: 50%;
    left: 50%;
    

}

.transformH{
    transform: translate(-50%, -50%);
}

.menuLeft{

    height: 90vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menuRight{
    height: 90vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.life{
    display:flex;
    flex-direction: column;
}

.buttonsLeft{
    display: flex;
    justify-content: left;
}

.buttonsRight{
    display: flex;
    justify-content: right;
}

.buttonsleft{
    display: flex;
    justify-content: left;
}

.stayLeft {
    text-align: left;
}

.stayRight {
    text-align: right;
}

#player1, #player2 {
    rotate: 180deg;
}

.flip{
    rotate: 180deg;
}

/** Flip for highlightCard */

.flipH {
    rotate: 180deg;
    transform: translate(50%, 50%);
}